@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;700;900&display=swap');

html,
body {
    font-family: 'Recursive', sans-serif;
    scroll-behavior: smooth;
    height: 100%;

}

.navbar {
    font-size: larger;
}

.bg {

    background-image: url("./media/g1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.toggle {
    font-size: xx-large;
    font-weight: 200;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 2vmax;
}


.items {
    text-align: center;
    color: aliceblue;
    position: relative;
    top: 400px;

}

.items a {
    display: inline-block;
    text-decoration: none;
    font-size: 3.2vmax;
    font-weight: 400;
    width: 100%;
    padding-top: -0.6vmax;
    height: max-content;
    overflow: hidden;
}

.items a span {
    display: inline-block;
    position: relative;
    right: 0.5vmax;
    transition: transform 500ms;
    -webkit-transition: -webkit-transform 500ms;
    -moz-transition: transform 500ms;

}

.items a span:after {
    content: attr(data-hover);
    position: absolute;
    top: -4.3vmax;
    left: -10vmax;
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.items a:hover span,
.items a:focus span {
    transform: translateY(4.7vw);
    -webkit-transform: translateY(4.7vw);
    -moz-transform: translateY(4.7vw);
}

@media screen and (max-width: 500px) {
    .bg{
        height: 50%;
    }
    .items{
        top: 200px;
    }

    .items a:hover span,
    .items a:focus span {
        transform: translateY(6.5vw);
        -webkit-transform: translateY(6.5vw);
        -moz-transform: translateY(6.5vw);
    }
}