@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.nav{
      font-size: 2vmax;
      height: 30px;
      font-family: 'Itim', cursive;
      margin-bottom: 1vmax;
}

.nav a{
      color: black;
      padding: 2vmax 2vmax 0 2vmax;
      margin: 10px 10px 0 10px;
      text-decoration: none;
      transition: transform 0.2s;
}
.nav a:hover{
      color: #0F52BA;
}
.bg {
  background-image:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url("media/g1.jpg");
  width: 100%;
  height: 35vmax;
  position:relative;
  bottom: 3vmax;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text{
      font-family: 'Itim', cursive;
      font-weight: bolder;
      font-size: 7vw;
      opacity: 1;
      text-align: center;
}

.toggle{
      font-family: 'Itim', cursive;
      font-size: 4.2vw;
      font-weight: 200;
      text-decoration: none;
      text-transform: none;
}
html{
      scroll-behavior: smooth;
}
h1{
      font-family: 'Itim', cursive;
      text-align: center; 
      font-weight: 300;
      font-size: 2.5vmax;

}
h3{
      font-family: 'Itim', cursive;
      text-align: center; 
      font-weight: 400;
      font-size: 2vmax;

}
#changingword{
      color: black;
      font-family: 'Itim', cursive;
      position: relative;
      right: 4vw;
      top: 2vmax;
      
}

.items{
      width: 52vw ;
      text-align: center;
      position: relative;
      text-align: center;
}
.items a{
  display:inline-block;
  text-decoration:none;
  color:white;
  font-size: 3.2vmax;
  font-weight:400;
  width: 100%;
  padding-top: -0.3vmax;
  height: 4.4vmax;
  overflow: hidden;
}
.items a span{
  display: inline-block;
  position: relative;
  right: 0.5vmax;
  transition: transform 500ms;
  -webkit-transition: -webkit-transform 500ms;
  -moz-transition: transform 500ms;
  
}
.items a span:after{
  content: attr(data-hover);
  position: absolute;
  top: -3.8vmax;
  left: -9vmax;
  transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
.items a:hover span,
.items a:focus span {
	transform: translateY(3.45vw);
  -webkit-transform: translateY(3.45vw);
  -moz-transform: translateY(3.45vw);
}
footer{
      background-color: #0F52BA;
      height: 8vmax;
      width: 100%;
      font-family: 'Itim', cursive;
      color: aliceblue;
      text-align: center;
      margin:0 0 0 0;
      position: relative;
      top: 2.5vmax;
}
#f1{
      width: 3vmax;
      height: 3vmax;
      float: right;
      padding: 0 2vmax 0vmax 0vmax;
      position: relative;
      bottom: 5.3vmax;
}
.v2, #v:hover .v1{
      display: none;
}
.v1, #v:hover .v2{
      display: block;
}
